<header><%= title %></header>
<form method="post" action="/messageboard/user/create">
    <label for="new-username">Username: </label><input id="new-username" type="text" name="new-username">
    <label for="new-user-firstname">First Name: </label><input id="new-user-firstname" type="text" name="new-user-firstname">
    <label for="new-user-date-of-birth">DOB: </label><input id="new-user-date-of-birth" type="date" name="new-user-date-of-birth">
    <input type="submit" value="Add User" class='submit_form'>
</form>
