<form method="post" action="/message/create">
    <header> Header placeholder</header>
    <label for="new-msg-input">Enter Message: </label><input id="new-msg-input" type="text" name="new-msg-input">
    <label for="new-msg-user">Username: </label><input id="new-msg-user" type="text" name="new-msg-user">
    <input type="submit" value="Comment">
</form>
