<header><%= title %></header>
<form method="post" action="/messageboard/message/create">
    <label for="new-msg-input">Enter Message: </label><textarea id="new-msg-input" type="text" name="new-msg-input"><%= (typeof message != 'undefined' ? message.message_text : '' ) %></textarea>
    <input type="submit" value="Comment" class='submit_form'>
</form>

<% if (typeof errors != 'undefined') { %>
    <section class="errors">
        <ul>
            <% for( i in errors ) { %>
                <li><%= errors[i].msg %></li>
            <% } %>
        </ul>
    </section> 
<% } %>
