<header><%= title %></header>
<% if(typeof user != 'undefined') { %>
    <p>Feel free to view messages via the Messages link and add your own!</p>
<% } else { %>
    <form action="/auth/log-in" method="POST">
        <section>
            <label for="username">Username: </label><br />
            <input name="username" placeholder="username" type="text" />
        </section>
        <section>
            <label for="password">Password: </label><br />
            <input name="password" type="password" />
        </section>
        <input type='submit' value='Log In' />
    </form>
<% } %>
<% if (typeof errors != 'undefined') { %>
    <section class="errors">
        <ul>
            <% for( i in errors ) { %>
                <li><%= errors[i] %></li>
            <% } %>
        </ul>
    </section> 
<% } %>

